<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SimpleJspServletDB</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
 
    <servlet>
    <description></description>
    <display-name>JobPostServlet</display-name>
    <servlet-name>JobPostServlet</servlet-name>
    <servlet-class>com.sjsu.servlet.JobPostServlet</servlet-class>
  </servlet>

  
  <servlet-mapping>
    <servlet-name>JobPostServlet</servlet-name>
    <url-pattern>/JobPostServlet</url-pattern>
  </servlet-mapping>

<servlet>
    <description></description>
    <display-name>DisplayEmployersList</display-name>
    <servlet-name>DisplayEmployersList</servlet-name>
    <servlet-class>com.sjsu.servlet.DisplayEmployersList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayEmployersList</servlet-name>
    <url-pattern>/DisplayEmployersList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayJobSeekersList</display-name>
    <servlet-name>DisplayJobSeekersList</servlet-name>
    <servlet-class>com.sjsu.servlet.DisplayJobSeekersList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayJobSeekersList</servlet-name>
    <url-pattern>/DisplayJobSeekersList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditEmployerList</display-name>
    <servlet-name>EditEmployerList</servlet-name>
    <servlet-class>com.sjsu.servlet.EditEmployerList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEmployerList</servlet-name>
    <url-pattern>/EditEmployerList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteJobSeekerList</display-name>
    <servlet-name>DeleteJobSeekerList</servlet-name>
    <servlet-class>com.sjsu.servlet.DeleteJobSeekerList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteJobSeekerList</servlet-name>
    <url-pattern>/DeleteJobSeekerList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobList</display-name>
    <servlet-name>JobList</servlet-name>
    <servlet-class>com.sjsu.servlet.JobList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobList</servlet-name>
    <url-pattern>/JobList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditJobSeekerList</display-name>
    <servlet-name>EditJobSeekerList</servlet-name>
    <servlet-class>com.sjsu.servlet.EditJobSeekerList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditJobSeekerList</servlet-name>
    <url-pattern>/EditJobSeekerList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateJobSeekerList</display-name>
    <servlet-name>UpdateJobSeekerList</servlet-name>
    <servlet-class>com.sjsu.servlet.UpdateJobSeekerList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateJobSeekerList</servlet-name>
    <url-pattern>/UpdateJobSeekerList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobSeekerProfile</display-name>
    <servlet-name>JobSeekerProfile</servlet-name>
    <servlet-class>com.sjsu.servlet.JobSeekerProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobSeekerProfile</servlet-name>
    <url-pattern>/JobSeekerProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmployerList</display-name>
    <servlet-name>DeleteEmployerList</servlet-name>
    <servlet-class>com.sjsu.servlet.DeleteEmployerList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployerList</servlet-name>
    <url-pattern>/DeleteEmployerList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteJobSeekerProfile</display-name>
    <servlet-name>DeleteJobSeekerProfile</servlet-name>
    <servlet-class>com.sjsu.servlet.DeleteJobSeekerProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteJobSeekerProfile</servlet-name>
    <url-pattern>/DeleteJobSeekerProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteJSAppliedJobs</display-name>
    <servlet-name>deleteJSAppliedJobs</servlet-name>
    <servlet-class>com.sjsu.servlet.deleteJSAppliedJobs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteJSAppliedJobs</servlet-name>
    <url-pattern>/deleteJSAppliedJobs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteJSQualification</display-name>
    <servlet-name>DeleteJSQualification</servlet-name>
    <servlet-class>com.sjsu.servlet.DeleteJSQualification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteJSQualification</servlet-name>
    <url-pattern>/DeleteJSQualification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobSeekerQualification</display-name>
    <servlet-name>JobSeekerQualification</servlet-name>
    <servlet-class>com.sjsu.servlet.JobSeekerQualification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobSeekerQualification</servlet-name>
    <url-pattern>/JobSeekerQualification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteJSSkills</display-name>
    <servlet-name>DeleteJSSkills</servlet-name>
    <servlet-class>com.sjsu.servlet.DeleteJSSkills</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteJSSkills</servlet-name>
    <url-pattern>/DeleteJSSkills</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteJobs</display-name>
    <servlet-name>DeleteJobs</servlet-name>
    <servlet-class>com.sjsu.servlet.DeleteJobs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteJobs</servlet-name>
    <url-pattern>/DeleteJobs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteJobSkills</display-name>
    <servlet-name>DeleteJobSkills</servlet-name>
    <servlet-class>com.sjsu.servlet.DeleteJobSkills</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteJobSkills</servlet-name>
    <url-pattern>/DeleteJobSkills</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteJobsApplied</display-name>
    <servlet-name>DeleteJobsApplied</servlet-name>
    <servlet-class>com.sjsu.servlet.DeleteJobsApplied</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteJobsApplied</servlet-name>
    <url-pattern>/DeleteJobsApplied</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSSkillsServlet</display-name>
    <servlet-name>JSSkillsServlet</servlet-name>
    <servlet-class>com.sjsu.servlet.JSSkillsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSSkillsServlet</servlet-name>
    <url-pattern>/JSSkillsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSQualificationServlet</display-name>
    <servlet-name>JSQualificationServlet</servlet-name>
    <servlet-class>com.sjsu.servlet.JSQualificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSQualificationServlet</servlet-name>
    <url-pattern>/JSQualificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobsAppliedServlet</display-name>
    <servlet-name>JobsAppliedServlet</servlet-name>
    <servlet-class>com.sjsu.servlet.JobsAppliedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobsAppliedServlet</servlet-name>
    <url-pattern>/JobsAppliedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditJSProfileServlet</display-name>
    <servlet-name>EditJSProfileServlet</servlet-name>
    <servlet-class>com.sjsu.servlet.EditJSProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditJSProfileServlet</servlet-name>
    <url-pattern>/EditJSProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateJSProfileServlet</display-name>
    <servlet-name>UpdateJSProfileServlet</servlet-name>
    <servlet-class>com.sjsu.servlet.UpdateJSProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateJSProfileServlet</servlet-name>
    <url-pattern>/UpdateJSProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditJSSkillsServlet</display-name>
    <servlet-name>EditJSSkillsServlet</servlet-name>
    <servlet-class>com.sjsu.servlet.EditJSSkillsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditJSSkillsServlet</servlet-name>
    <url-pattern>/EditJSSkillsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateJSSkillServlet</display-name>
    <servlet-name>UpdateJSSkillServlet</servlet-name>
    <servlet-class>com.sjsu.servlet.UpdateJSSkillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateJSSkillServlet</servlet-name>
    <url-pattern>/UpdateJSSkillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditEmpListServlet</display-name>
    <servlet-name>EditEmpListServlet</servlet-name>
    <servlet-class>com.sjsu.servlet.EditEmpListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEmpListServlet</servlet-name>
    <url-pattern>/EditEmpListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployerList</display-name>
    <servlet-name>UpdateEmployerList</servlet-name>
    <servlet-class>com.sjsu.servlet.UpdateEmployerList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployerList</servlet-name>
    <url-pattern>/UpdateEmployerList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobSeekersJobServlet</display-name>
    <servlet-name>JobSeekersJobServlet</servlet-name>
    <servlet-class>com.sjsu.servlet.JobSeekersJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobSeekersJobServlet</servlet-name>
    <url-pattern>/JobSeekersJobServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>Edit_Profile</display-name>
    <servlet-name>Edit_Profile</servlet-name>
    <servlet-class>controllers.Edit_Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_Profile</servlet-name>
    <url-pattern>/Edit_Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>controllers.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>insert_table</display-name>
    <servlet-name>insert_table</servlet-name>
    <servlet-class>controllers.Insert_table</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insert_table</servlet-name>
    <url-pattern>/insert_table</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Skills</display-name>
    <servlet-name>Skills</servlet-name>
    <servlet-class>controllers.Skills</servlet-class>
  </servlet>

    
  <servlet-mapping>
    <servlet-name>Skills</servlet-name>
    <url-pattern>/skills</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>qualification</display-name>
    <servlet-name>qualification</servlet-name>
    <servlet-class>controllers.Qualification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>qualification</servlet-name>
    <url-pattern>/qualification</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Rating</display-name>
    <servlet-name>Rating</servlet-name>
    <servlet-class>controllers.Rating</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rating</servlet-name>
    <url-pattern>/Rate</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Edit1</display-name>
    <servlet-name>Edit1</servlet-name>
    <servlet-class>controllers.Edit1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit1</servlet-name>
    <url-pattern>/Edit1</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>update1</display-name>
    <servlet-name>update1</servlet-name>
    <servlet-class>controllers.Update1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update1</servlet-name>
    <url-pattern>/update1</url-pattern>
  </servlet-mapping>
   <servlet>
  <display-name>Jobseeker</display-name>
    <servlet-name>Jobseeker</servlet-name>
    <servlet-class>controllers.Jobseeker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jobseeker</servlet-name>
    <url-pattern>/Jobseeker</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <display-name>skill_qual</display-name>
    <servlet-name>skill_qual</servlet-name>
    <servlet-class>controllers.Skill_qual</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>skill_qual</servlet-name>
    <url-pattern>/skill_qual</url-pattern>
  </servlet-mapping>
</web-app>
