<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DatabaseProj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignInServlet</display-name>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>servlets.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/SignInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employer</display-name>
    <servlet-name>Employer</servlet-name>
    <servlet-class>beans.Employer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employer</servlet-name>
    <url-pattern>/Employer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobSeeker</display-name>
    <servlet-name>JobSeeker</servlet-name>
    <servlet-class>beans.JobSeeker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobSeeker</servlet-name>
    <url-pattern>/JobSeeker</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ser1</display-name>
    <servlet-name>Ser1</servlet-name>
    <servlet-class>service.Ser1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ser1</servlet-name>
    <url-pattern>/Ser1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ser2</display-name>
    <servlet-name>Ser2</servlet-name>
    <servlet-class>service.Ser2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ser2</servlet-name>
    <url-pattern>/Ser2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ser3</display-name>
    <servlet-name>Ser3</servlet-name>
    <servlet-class>service.Ser3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ser3</servlet-name>
    <url-pattern>/Ser3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ser4</display-name>
    <servlet-name>Ser4</servlet-name>
    <servlet-class>service.Ser4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ser4</servlet-name>
    <url-pattern>/Ser4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ser5</display-name>
    <servlet-name>Ser5</servlet-name>
    <servlet-class>service.Ser5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ser5</servlet-name>
    <url-pattern>/Ser5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatabaseConnection</display-name>
    <servlet-name>DatabaseConnection</servlet-name>
    <servlet-class>databaseConnection.DatabaseConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseConnection</servlet-name>
    <url-pattern>/DatabaseConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBConnection</display-name>
    <servlet-name>DBConnection</servlet-name>
    <servlet-class>servlets.DBConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBConnection</servlet-name>
    <url-pattern>/DBConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpEmployer</display-name>
    <servlet-name>SignUpEmployer</servlet-name>
    <servlet-class>servlets.SignUpEmployer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpEmployer</servlet-name>
    <url-pattern>/SignUpEmployer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>service</display-name>
    <servlet-name>service</servlet-name>
    <servlet-class>service.service</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>service</servlet-name>
    <url-pattern>/service</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>servlets.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Java</display-name>
    <servlet-name>Java</servlet-name>
    <servlet-class>databaseConnection.Java</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Java</servlet-name>
    <url-pattern>/Java</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpE1</display-name>
    <servlet-name>SignUpE1</servlet-name>
    <servlet-class>servlets.SignUpE1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpE1</servlet-name>
    <url-pattern>/SignUpE1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ji</display-name>
    <servlet-name>ji</servlet-name>
    <servlet-class>Servlets.ji</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ji</servlet-name>
    <url-pattern>/ji</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmployerList</display-name>
    <servlet-name>DeleteEmployerList</servlet-name>
    <servlet-class>servlets.DeleteEmployerList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployerList</servlet-name>
    <url-pattern>/DeleteEmployerList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteJobs</display-name>
    <servlet-name>DeleteJobs</servlet-name>
    <servlet-class>servlets.DeleteJobs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteJobs</servlet-name>
    <url-pattern>/DeleteJobs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteJobsApplied</display-name>
    <servlet-name>DeleteJobsApplied</servlet-name>
    <servlet-class>servlets.DeleteJobsApplied</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteJobsApplied</servlet-name>
    <url-pattern>/DeleteJobsApplied</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteJobSeekerList</display-name>
    <servlet-name>DeleteJobSeekerList</servlet-name>
    <servlet-class>servlets.DeleteJobSeekerList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteJobSeekerList</servlet-name>
    <url-pattern>/DeleteJobSeekerList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteJobSeekerProfile</display-name>
    <servlet-name>DeleteJobSeekerProfile</servlet-name>
    <servlet-class>servlets.DeleteJobSeekerProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteJobSeekerProfile</servlet-name>
    <url-pattern>/DeleteJobSeekerProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteJobSkills</display-name>
    <servlet-name>DeleteJobSkills</servlet-name>
    <servlet-class>servlets.DeleteJobSkills</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteJobSkills</servlet-name>
    <url-pattern>/DeleteJobSkills</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteJSAppliedJobs</display-name>
    <servlet-name>deleteJSAppliedJobs</servlet-name>
    <servlet-class>servlets.deleteJSAppliedJobs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteJSAppliedJobs</servlet-name>
    <url-pattern>/deleteJSAppliedJobs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteJSQualification</display-name>
    <servlet-name>DeleteJSQualification</servlet-name>
    <servlet-class>servlets.DeleteJSQualification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteJSQualification</servlet-name>
    <url-pattern>/DeleteJSQualification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteJSSkills</display-name>
    <servlet-name>DeleteJSSkills</servlet-name>
    <servlet-class>servlets.DeleteJSSkills</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteJSSkills</servlet-name>
    <url-pattern>/DeleteJSSkills</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayEmployersList</display-name>
    <servlet-name>DisplayEmployersList</servlet-name>
    <servlet-class>servlets.DisplayEmployersList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayEmployersList</servlet-name>
    <url-pattern>/DisplayEmployersList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayJobSeekersList</display-name>
    <servlet-name>DisplayJobSeekersList</servlet-name>
    <servlet-class>servlets.DisplayJobSeekersList</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>DisplayJobSeekersList</servlet-name>
    <url-pattern>/DisplayJobSeekersList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditEmployerList</display-name>
    <servlet-name>EditEmployerList</servlet-name>
    <servlet-class>servlets.EditEmployerList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEmployerList</servlet-name>
    <url-pattern>/EditEmployerList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditJobSeekerList</display-name>
    <servlet-name>EditJobSeekerList</servlet-name>
    <servlet-class>servlets.EditJobSeekerList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditJobSeekerList</servlet-name>
    <url-pattern>/EditJobSeekerList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobList</display-name>
    <servlet-name>JobList</servlet-name>
    <servlet-class>servlets.JobList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobList</servlet-name>
    <url-pattern>/JobList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobSeekerProfile</display-name>
    <servlet-name>JobSeekerProfile</servlet-name>
    <servlet-class>servlets.JobSeekerProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobSeekerProfile</servlet-name>
    <url-pattern>/JobSeekerProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateJobSeekerList</display-name>
    <servlet-name>UpdateJobSeekerList</servlet-name>
    <servlet-class>servlets.UpdateJobSeekerList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateJobSeekerList</servlet-name>
    <url-pattern>/UpdateJobSeekerList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatabaseConnectin</display-name>
    <servlet-name>DatabaseConnectin</servlet-name>
    <servlet-class>servlets.DatabaseConnectin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseConnectin</servlet-name>
    <url-pattern>/DatabaseConnectin</url-pattern>
  </servlet-mapping>
</web-app>